# Python
*.pyc
*.pyo
__pycache__/
*.pyd

# Django
db.sqlite3
/staticfiles/
media/

# Virtual environment
myenv/
venv/
env/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Environment variables
.env
